<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
        
    <add key="progName" value="Wordshark" />
    <add key="progVer" value="5" />
    <add key="jarName" value="wordshark" />
    <add key="progVerDetailed" value="5.02.25" />
    <!-- For two partition sticks -->
    <add key="usbSharedDriveLabel" value="WS-SHARED" />
    <!-- "0" for old-style sticks, "1" for two partition sticks -->
    <add key="style" value="0" />
    <!-- All programs White Space makes (and has USB keys for) -->
    <add key="allProgs" value="Wordshark|Numbershark|Phonicshark|Woordenhaai|Cijferhaai" />
    <!-- A mamimum number of bytes for a stick to be recognised as a stick. To prevent accidental deletion of hard drives etc -->
    <add key="maxVolSize" value="3000000000" />
    <!-- The type of USB to duplicate. "0" for copy protection adn "1" for Stand-alone activations-->
    <add key="type" value="0" />
   
  </appSettings>
</configuration>